@use 'global' as *;

.image-cho {
    display:flex;
    justify-content: center;
    & > p {
        font-size:70px ;
        font-weight: 700;
    }
}

.cartas{
    padding: 5%;
    display: flex;
    justify-content: center;
    .recursos{
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

